<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="MqttBrokerUrl" value="a61789d10d264dc4861eb4256ce18886.s1.eu.hivemq.cloud"/>
		<add key="MqttPort" value="8883"/>
	</appSettings>
</configuration>
